<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LOS</title>
    <!--<link rel="icon" type="image/x-icon" href="~/otherfiles/global_assets/images/favicon.ico" />-->
    <!-- Global stylesheets -->
    <link href="~/otherfiles/assets/css/fontfamily.css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/otherfiles/Light/global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="~/otherfiles/Light/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/otherfiles/Light/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="~/otherfiles/Light/assets/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="~/otherfiles/Light/assets/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="~/otherfiles/Light/assets/css/colors.min.css" rel="stylesheet" type="text/css">
    @*<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />*@
    <link href="~/css/main.css" rel="stylesheet" />
    <!-- /global stylesheets -->
    <style type="text/css">

        .icon-arrow-left52 {
            cursor: pointer;
        }

        div.pac-container {
            z-index: 99999999999 !important;
        }

        .back-link a {
            color: #4ca340;
            text-decoration: none;
            border-bottom: 1px #4ca340 solid;
        }

            .back-link a:hover,
            .back-link a:focus {
                color: #408536;
                text-decoration: none;
                border-bottom: 1px #408536 solid;
            }

        h1 {
            height: 100%;
            /* The html and body elements cannot have any padding or margin. */
            margin: 0;
            font-size: 14px;
            font-family: 'Open Sans', sans-serif;
            font-size: 32px;
            margin-bottom: 3px;
        }

        .entry-header {
            text-align: left;
            margin: 0 auto 50px auto;
            width: 80%;
            max-width: 978px;
            position: relative;
            z-index: 10001;
        }

        #demo-content {
            padding-top: 100px;
        }

        fieldset {
            border: 1px solid #ddd !important;
            margin: 0;
            xmin-width: 0;
            padding: 10px;
            position: relative;
            border-radius: 4px;
            background-color: #f5f5f5;
            padding-left: 10px !important;
        }

        legend {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 0px;
            width: 100%;
            border: 1px solid #ddd;
            border-radius: 20px;
            padding: 5px 5px 5px 10px;
            background-color: #1ab394;
        }

        .overlay {
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 999;
            background: rgba(255,255,255,0.8) url("../otherfiles/Icons/loder.gif") center no-repeat;
        }

        body {
            text-align: center;
        }
            /* Turn off scrollbar when body element has the loading class */
            body.loading {
                overflow: hidden;
            }
                /* Make spinner image visible when body element has the loading class */
                body.loading .overlay {
                    display: block;
                }
    </style>
</head>
<body>
    @*<div id="loader-wrapper">
            <div id="loader"></div>
        </div>*@
    <!-- Main navbar -->
    <div class="navbar navbar-expand-md navbar-custom">
        <div class="navbar-brand">
            <a href="/" class="d-inline-block">
                <img src="~/otherfiles/global_assets/images/logo.png" alt="" style="width: 249px;">
            </a>
        </div>

        <div class="d-md-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-tree5"></i>
            </button>
            <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
                <i class="icon-paragraph-justify3"></i>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar-mobile">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                        <i class="icon-paragraph-justify3"></i>
                    </a>
                </li>


            </ul>

            <ul class="navbar-nav right ml-md-auto">
                <li class="nav-item dropdown">
                    <a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
                        <i class="icon icon-bell2"></i>
                        <span class="d-md-none ml-2">Notification</span>
                        <span class="badge badge-pill bg-warning-400 ml-auto ml-md-0">0</span>
                    </a>


                </li>
            </ul>
            <span class="badge bg-success my-3 my-md-0 ml-md-3"><i class="fa fa-circle"></i></span>

            <ul class="navbar-nav">


                <li class="nav-item dropdown dropdown-user">
                    <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                        <img src="~/otherfiles/global_assets/images/demo/users/user.png" class="rounded-circle mr-2" height="34" alt="">
                        <span id="spnUserName"></span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        @*<a href="#" class="dropdown-item"><i class="icon-user-plus"></i> My profile</a>
                            <a href="#" class="dropdown-item"><i class="icon-coins"></i> My balance</a>
                            <a href="#" class="dropdown-item"><i class="icon-comment-discussion"></i> Messages <span class="badge badge-pill bg-blue ml-auto">58</span></a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="icon-cog5"></i> Account settings</a>*@
                        <a href="javascript:void(0);" class="dropdown-item" cid="" onclick="OpenChangePassword(this);"><i class="icon-lock2 "></i> Change Password</a>
                        <a href="javascript:void(0);" class="dropdown-item" onclick="logoutapp();"><i class="icon-switch2"></i> Logout</a>

                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <div class="sidebar navbar-custom sidebar-main sidebar-expand-md">

            <!-- Sidebar mobile toggler -->
            <div class="sidebar-mobile-toggler text-center">
                <a href="#" class="sidebar-mobile-main-toggle">
                    <i class="icon-arrow-left8"></i>
                </a>
                Navigationss
                <a href="#" class="sidebar-mobile-expand">
                    <i class="icon-screen-full"></i>
                    <i class="icon-screen-normal"></i>
                </a>
               
            </div>
            <!-- /sidebar mobile toggler -->
            <!-- Sidebar content -->
            <div class="sidebar-content">

                <!-- User menu -->
                <div class="sidebar-user" style="display:none">
                    <div class="card-body">
                        <div class="media">
                            <div class="mr-3">
                                <a href="#">
                                   
                                    <img src="~/otherfiles/global_assets/images/demo/users/face11.jpg" width="38" height="38" class="rounded-circle" alt="">;
                                </a>
                            </div>

                            <div class="media-body">
                                <div class="media-title font-weight-semibold" id="dvUserName"></div>
                                <div class="font-size-xs opacity-50" id="dvRoleName">
                                
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <!-- /user menu -->
                <!-- Main navigation -->
                <div class="card card-sidebar-mobile">
                    <ul class="nav nav-sidebar" data-nav-type="accordion" id="mMenu">
                        <!-- Main -->
                        <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Navigation</div> <i class="icon-menu" title="Main"></i></li>

                    </ul>
                    <a asp-controller="LoanDetail" asp-action="LoanDetail">Loan Detail</a>
                </div>
                <!-- /main navigation -->

            </div>
            <!-- /sidebar content -->

        </div>
        <!-- /main sidebar -->


        <div class="content-wrapper">

            @RenderBody()

            <!-- Footer -->
            <div class="navbar navbar-expand-lg navbar-light">
                <div class="text-center d-lg-none w-100">
                    <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                        <i class="icon-unfold mr-2"></i>
                        Footer
                    </button>
                </div>

                <div class="navbar-collapse collapse" id="navbar-footer">
                    <span class="navbar-text">
                        &copy; @DateTime.Now.Year <a href="#"></a>  <a href="https://www.smcfinance.com/" target="_blank">Moneywise Financial Services Pvt. Ltd.</a>
                    </span>


                </div>
            </div>
            <!-- /footer -->
        </div>


    </div>
    <div id="modal_form_ChangePassword" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog">
            <form class="form-validate-jquerylayout" onsubmit="return LayoutFormsubmit();" name="registration">
                <div id="Password_content">

                </div>
            </form>
        </div>
    </div>
    <div class="overlay"></div>
    <!-- /page content -->
    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - Patna CKC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@

    <!-- Core JS files -->
    <script src="~/otherfiles/global_assets/js/main/jquery.min.js"></script>
    <script src="~/otherfiles/global_assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/otherfiles/global_assets/js/plugins/loaders/blockui.min.js"></script>
    <script src="~/otherfiles/global_assets/js/main/jquery-ui.min.js"></script>


    <!-- /core JS files -->
    <!-- Theme JS files -->
    <!-- Theme JS files -->
    @*<script src="~/otherfiles/global_assets/js/plugins/notifications/sweet_alert.min.js"></script>*@
    <script src="~/otherfiles/global_assets/js/plugins/forms/validation/validate.min.js"></script>
    <script src="~/otherfiles/global_assets/js/plugins/forms/inputs/touchspin.min.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>*@
    @*<script src="~/otherfiles/global_assets/js/plugins/forms/selects/select2.min.js"></script>*@
    <script src="~/otherfiles/global_assets/js/plugins/forms/styling/switch.min.js"></script>
    @*<script src="~/otherfiles/global_assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>*@
    <script src="~/otherfiles/global_assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script src="~/otherfiles/global_assets/js/plugins/forms/styling/uniform.min.js"></script>



    <script src="~/otherfiles/Light/assets/js/app.js?@DateTime.Now.Ticks"></script>

    <!-- /theme JS files -->
    <script src="~/otherfiles/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <script src="/otherfiles/global_assets/js/plugins/tables/datatables/extensions/pdfmake/vfs_fonts.min.js"></script>
    <script src="/otherfiles/global_assets/js/plugins/tables/datatables/extensions/buttons.min.js"></script>

    <script src="~/ViewJs/Layout/LayoutPageInfo.js?@DateTime.Now.Ticks"></script>
    <link href="/otherfiles/assets/css/sweetalert.css" rel="stylesheet" />
    <script src="~/otherfiles/assets/js/sweetalert.min.js"></script>
    <script src="~/ViewJs/Layout/layoutvalidation.js"></script>
    <script>

        $(document).ready(function () {
            $('.datefrom').datepicker({
                dateFormat: 'yy-mm-dd',
                defaultDate: new Date(),
                changeMonth: true,
                changeYear: true,
                inline: true,
                maxDate: new Date(),
                onSelect: function (dateStr) {
                    $(".dateto").val(dateStr);
                    $(".dateto").datepicker({
                        minDate: new Date(dateStr),
                        dateFormat: 'yy-mm-dd',
                        changeMonth: true,
                        changeYear: true,
                        maxDate: new Date(),
                    })
                }
            });
        });
    </script>
    @RenderSection("Scripts", required: false)

    @*$("body").addClass("loading");
        $("body").removeClass("loading");*@

</body>
</html>
